body {
    background: darkolivegreen;
    color: white;
}
h1 {
    text-align: center;
}
h2 {
    color: black;
}
#google-link {
    font-weight: bold;
}
#first-list {
    margin: 50px 25px;
}
#second-list {
    margin: 50px 25px;
}
img {
    border: 5px solid black;
    padding: 20px;
}
.spades {
    font-size: 100px;
    margin-top: -50px;
    margin-bottom: -50px;
    color: darkslategray
}
h3 {
    position: relative;
    left: 30px;
    bottom: 30px;
}
footer {
    text-align: center;
}